/* ELEMENTS GENERAUX */

body{
    margin: 0;
    padding: 0;
    background-color: #e5e5dc;
}


body, html{
    height:100%;
}

header{
    font-size: large;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#page{
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

#content{
    z-index: 2;
    margin-top: 150px;
}

.modifPW{
    margin: auto;
}

body.container{
    background-color: #ced7d8;
}

/* CONTAINERS BOOTSTRAPS */

.pageMonProfil{
    max-width: 100%;
}

.w-auto{
    font-size: medium;
    font-weight: bold ;
}

/* BALISES D'ELEMENTS */

h1{
    text-align: center;
    color: #26495c;
}

.modifPW>div {
    width: 80%;
}


/* BARRE DE NAVIGATION */

.navbar{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.navbar-brand{
    margin: 0;
    padding: 0;
}

/* ELEMENTS DU MAIN */

.back{
    text-align: center;
}

.affichProfil{
    text-align: center;
}

.register{
    text-align: center;
}

hr{
    border-top: 3px darkgoldenrod double;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label::before {
    font-family: FontAwesome;
    content: '\f096';
    font-size: 1.2em;
    margin-right: 0.3rem  ;
    color: darkgoldenrod;
    vertical-align: middle;
}
input[type="checkbox"]:checked + label::before {
    content:'\f046';
    color: darkgoldenrod;
}

#checkBoxForm{
    padding: inherit;
    margin: auto;
}

.logged{
    text-align: center;
    font-family: Verdana, sans-serif;
    margin: auto;
    display: inline-block;
    background: darkgoldenrod;
    width: 100%;
    padding-top: 5px;
}

/* ELEMENTS DE FORMULAIRE */

.tabCase{
    padding: 0 10px;
}

.campusForm{
    text-align: center
}

.champSearchCampus, .btnSearchCampus {
    display: inline-block;
}

.border{
    border: 1px solid darkgoldenrod !important;
}
.choixPic{
    text-align: center;
    margin-top: 20px;
}

.picProfil{
    text-align: center;
}

.form-group>label{
    text-align: left;
    width: 100%;
    margin-bottom: 2px;
}

.form-group>input, .form-group>select, .form-control{
    border: 1px solid darkgoldenrod;
}

#form_login>input:hover, #form_login>select:hover{
    background-color: darkgoldenrod;
    color: white;
}

#form_login>input:focus, #form_login>select:focus{
    background-color: #26495c;
    color: white;
}

.form-group>input:hover, .form-group>select:hover{
    background-color: darkgoldenrod;
    color: white;
}

.form-group>input:focus, .form-group>select:focus{
    background-color: #26495c;
    color: white;
}

#registration_form_photo:focus{
    background-color: darkgoldenrod;
    color: white;
}

#registration_form_photo:hover{
    background-color: darkgoldenrod;
    color: white;
}

#registration_form_photo:focus{
    background-color: #26495c;
    color: white;
}

#search_campus_recherche{
    border-radius: .25rem;
    border: 1px solid darkgoldenrod;
}

#search_campus_recherche:hover {
    background-color: darkgoldenrod;
    color: white;
}

#search_campus_recherche:focus{
    background-color: #26495c;
    color: white;
}


#form_profil_photo{
    width: auto;
    border-radius: .25rem;
    border: 1px solid darkgoldenrod;
    padding: .375rem .75rem;
    margin-bottom: 16px;
}

#form_profil_photo:hover{
    cursor: pointer;
}

#form_login{
    max-width: 50%;
    margin: auto;
}

.login{
    text-align: center;
}

.registerForm{
    text-align: center;
}

.custom-file-input{
    opacity: 100%;
    width: auto;
    border-radius: .25rem;
    border: 1px solid darkgoldenrod;
    padding: .375rem .75rem;
    margin-bottom: 16px;
    position: initial;
}

.custom-file-input:hover{
    cursor: pointer;
}

.coordonnees{
    text-align: center;
}

.custom-file-label{
    visibility: hidden;
}


/* ELEMENTS DE TABLEAUX*/

thead{
    text-align: center;
    background-color: darkgoldenrod;
}

tbody{
    background-color: #26495c;
    color: white;
}

/* FOOTER */
footer{
    color: white;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
}

/* BOUTONS */

.btn {
    background-color: darkgoldenrod;
    border-radius: 10px;
    margin : 16px 0px 5px 0px;
    box-shadow: 1px 1px 12px darkgoldenrod;
}

.btn:hover{
    color: white;
    background-color: #26495c;
}

#search_campus_rechercher{
    vertical-align: unset;
}

#campus_form_Ajouter{
    margin-bottom: 21px;
}

.modifBtn{
    margin: auto;
}

.registerBtn {
    text-align: center;
}

.rechercherBtn {
    width: 200px;
    height: 100px;
    margin: auto;
}

.disconnectBtn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
}

.disconnectBtn:focus{
    outline: none;
}

#btnRechercher{
    text-align: center;
}

/* ALERTES FLASH */
.alert
{padding: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    border-radius: 5px;
}

.alert-success{
    color: green;
}

/* Fenêtre POP-UP */

.modal-header{
    background-color: #26495c ;
    color: #e5e5dc;
}

.modal-body{
    background-color: #e5e5dc;
}

.modal-footer{
    background-color: #e5e5dc;
}



/* ajout page Accueil*/

.accueil{
    max-width: 100%;
    margin-right:unset ;
    margin-left: unset;
    margin-top: 30px;
}

#tabErreurs{
    text-align: center;
    color: #B0413E;
}

#LigneForm{
    margin-top: 10px;
}

#titreAccueil{
    margin-bottom: 30px;
}

h4{
    text-align: center;
}


#ValidationForm{
    align-items: center;
}



/*
#btnRechercher{
    align-self: center;
    padding-left: 220px;
    padding-top: 40px;
}
*/

#btnCreeListe{

    padding-left: 47%;
    margin-top: 40px;
}

#tabSorties{
    margin-top: 40px;
    margin-bottom: 40px;
}

#datedeb_date{
    width: auto;
}

#datedeb_time{
    width: auto;
}

#datefin_date{
    width: auto;
}

#datefin_time{
    width: auto;
}

.Label_DateDeb{
    display: initial;
}

#recherche{
    width: auto;
}

#campus{
    width: auto;
}

.col-form-label{

}


/* Ecran Gérer Ville  */
.rechercheVille{
    display: block;
    border: none;
    background-color: #e5e5dc;
    color: darkgoldenrod;
}
.rechercheVille::after{
    border: none;
}
.ville-list{
    position: absolute;
    background-color: #e5e5dc;
}

/* Créer une sortie */
.divAjoutLieu{
    width: 60%;
    margin: auto;
}

.creerSortieBtn{
    margin: auto;
    width: 50%;

}
.creerSortieBtn .form-group{
    margin: auto;
}
.creerSortieBtn .form-group .btn-primary{
    width: 150px;
}
#ouvrirAjoutLieu{
    margin-left: 10px;
    margin-top: 24px;
    bottom: 0;
    height:40px;
    width: 100%;
}
#form_sortie_lieux_no_lieu{
    width: 300px;
}
.lieuDiv{
    display: inline-flex;
}
.modifSortieBtn{
    margin: auto;
    width: 70%;

}
.modifSortieBtn .form-group{
    margin: auto;
}
.modifSortieBtn .form-group .btn-primary{
    width: 150px;
}

/*trier*/

#divbtnfiltre{
    text-align: center;
    width: 100%;
}


#filtre{
    display: none;
}

.erreur{
    color: tomato;
}
.error{
    color: tomato;
}

/*page annulation*/

#formAnnulation{
    text-align: center;
}

#motifTexte{
    margin-top: 30px;
}