body{
    margin: 0;
    padding: 0;
}

body, html{height:100%;}

#main{
    max-width:100%;
    min-height:100%;
    position:relative;
}

/* BARRE DE NAVIGATION */

.navbar{
    margin: 0;
    padding: 0;


}

.navbar-brand{
    margin: 0;
    padding: 0;

}



header{
    height: 150px;
    background: darkgoldenrod url("http://localhost/Sortir.com/sorties.com/public/img/city_night_cut.jpg")
    no-repeat top;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* FOOTER */
footer{
    background: darkgoldenrod url("http://localhost/Sortir.com/sorties.com/public/img/city_night_cut.jpg")
    no-repeat bottom;
    background-size: cover;
    color: white;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    position: absolute;
}

/* BOUTONS */
.btn {
    background-color: darkgoldenrod;
    border-radius: 10px;

}

