{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>
    <div class="containerForm">
        <div class="sortieForm">
            {{ form(sortie_form) }}
        </div>
    </div>
{% endblock %}
